@keyframes scrollLeft{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes scrollUp{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-50%);
    }
}
