@import url('reset.css');
@import url('font.css');
@import url('animation.css');

body {
    font-family: 'OldNewspaperTypes', sans-serif;
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-size: 150px;
    color: black;
}

h2 {
    font-size: 90px;
    color: black;
}

h3 {
    font-size: 50px;
    color: black;
}

.screen1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;
}

.screen1_container_top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stripe_black {
    background-color: black;
    max-width: 100vw;
    height: 30px;
}

.stripe_blue {
    background-color: #010872;
    max-width: 100vw;
    height: 30px;
}

.film_wrapper {
    display: flex;
    background-color: black;
    overflow: hidden;
    gap: 5px;
    width: 100%;
    padding: 7px 0px;
    flex-direction: column;
}

.film_squares {
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
}

.film_square {
    display: flex;
    width: 15px;
    height: 18px;
    background-color: white;
    border-radius: 3px;
}

.film_container {
    display: flex;
    width: max-content;
    animation: scrollLeft 20s linear infinite;
}

.film_photo {
    height: 250px;
    object-fit: cover;
    margin: 0 10px;
    border: 2px solid white;
}

.screen2 {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 45px;
}

.screen2_container_top {
    display: flex;
    gap: 130px;

    img {
        width: 700px;
        height: 420px;
    }
}

.screen2_container_top_right {
    display: flex;
    flex-direction: column;
    gap: 35px;

    p {
        font-size: 25px;
        color: black;
    }
}

.screen2_container_bottom {
    display: flex;
    gap: 30px;

    img {
        width: 700px;
        height: 420px;
    }
}

.screen2_container_bottom_left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.facts_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px 0px 0px;
}

.fact_card {
    background-color: #010872;
    color: white;
    border: 2px;
    padding: 0px 5px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.fact_card:hover {
    background: #0a197e;
    transform: translateY(-1px);
}

.result_area {
    text-align: center;
}

.screen3 {
    display: flex;
    padding: 10px 30px 0px;
    gap: 40px;
}

.screen3_container_left {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 520px;
        height: 290px;
    }
}

.vertical-film {
    width: 440px;
    height: 700px;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    margin-top: 20px;

}

.vertical-film .film_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    animation: scrollUp 5s linear infinite;
    gap: 5px;
    padding: 10px 0;
}

.vertical-film .film_squares {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vertical-film .film_square {
    width: 30px;
    height: 17px;
    background-color: white;
    border-radius: 3px;
    /* margin: 15px 0; */
}

.vertical-film .film_photo {
    width: 340px;
    height: 280px;
    border: 2px solid white;
    object-fit: cover;
    align-self: center;
}

.screen3_container_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top_box {
    display: flex;
    align-items: center;
    background-color: white;
    border: 15px solid black;
    padding: 25px;
    width: 820px;
    height: 190px;
}

.top_box_container {
    background-color: #010872;
    color: white;
    border: 10px solid black;

    font-size: 60px;
    padding: 15px;
    text-align: center;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 15px solid black;
    padding: 5px 25px;
    width: 820px;
    height: 670px;
    gap: 10px;
}

.bottom_p {
    font-size: 20px;
}

.bottom_box_container {
    color: white;
    font-size: 50px;
    text-align: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.bottom_box_container.flipped {
    background-color: white;
    color: #010872;
    transform: rotateY(180deg);
}


.card-front,
.card-back {
    width: 700px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-front {
    display: flex;

    background-color: #010872;
    color: white;
    border: 10px solid black;
    font-size: 50px;
    text-align: center;
}

.card-back {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    color: #010872;
    border: 10px solid #010872;
    font-size: 40px;
    text-align: center;
}


.buttons {
    display: flex;
    gap: 20px;
}

.music-btn,
.image-btn {
    background: #010872;
    color: white;
    border: 3px solid #010872;
    padding: 15px 20px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s;
}

.music-btn:hover,
.image-btn:hover {
    background: white;
    color: #010872;
}

.screen4 {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 30px;


}

.screen4_container_top {
    display: flex;
    gap: 20px;

    h3 {
        font-size: 60px;
    }
}

.screen4_container_top_left {
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
        font-size: 35px;
    }
}

.screen4_container_top_right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.screen4_container_bottom {
    display: flex;
    background-color: #010872;
    border: 20px solid black;
    width: 1400px;
    height: 600px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.nastya-image {
    position: absolute;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10px;
    transition: transform 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}

.nastya-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#restartBtn {
    background: #010872;
    color: white;
    border: 3px solid black;
    padding: 15px 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'OldNewspaperTypes', sans-serif;
    transition: all 0.3s;
}

#restartBtn:hover {
    background: white;
    color: #010872;
    transform: translateY(-3px);
}

.screen6 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.screen5 {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 20px;
}

.screen5_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 15px solid #010872;
}

.shrimps {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.turtle {
    width: 600px;
    height: 600px;

    img {
        width: 600px;
        height: 600px;
    }
}

.shrimp {
    width: 110px;
    height: 130px;
    cursor: grab;
    transition: transform 0.2s;

}
.shrimp:hover {
    transform: scale(1.1);
}

.shrimp:active {
    cursor: grabbing;

}